#tooltip {	
    position: absolute;			
    text-align: left;			
    padding: 0 10px;				
    font: 12px sans-serif;		
    background: darkslategrey;	
    color: white;
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;
    text-align: center;
}